<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>s3jMlaieDj8VkVlxClh7qN0SgLDnga68dBmq30fQfTkYElDZ7C</string>
	<key>consumer_Key</key>
	<string>MR275CqLGDWRo6QSFaf4DgB3E</string>
</dict>
</plist>
